<template>
  <v-app>
    <div>
      <v-overlay :opacity="1" :value="overlay">
        <v-progress-circular indeterminate size="110">
          Loading...
        </v-progress-circular>
      </v-overlay>
    </div>

    <v-stepper v-model="currentStep" flat vertical>
      <!-- Stepper, part 1 -->
      <v-stepper-step
        editable
        step="1"
        :complete="
          this.user.firstName != '' &&
          this.user.familyName != '' &&
          this.user.phoneNumber != ''
        "
        >Personal Information</v-stepper-step
      >
      <v-stepper-content step="1">
        <v-card class="mb-12" flat height="160px">
          <v-form>
            <v-text-field
              v-model.lazy="user.firstName"
              label="First Name"
              required
            >
            </v-text-field>
            <v-text-field
              v-model.lazy="user.familyName"
              label="Family Name"
              required
            >
            </v-text-field>
            <v-text-field
              v-model.lazy="user.phoneNumber"
              label="Phone Number"
              required
            ></v-text-field>
          </v-form>
        </v-card>
        <v-btn color="primary" @click="currentStep = 2">Continue</v-btn>
      </v-stepper-content>

      <!-- Stepper, part 2 -->
      <v-stepper-step
        step="2"
        editable
        :complete="
          this.address.street != '' &&
          this.address.houseNumber != '' &&
          this.address.zipCode != '' &&
          this.address.city != ''
        "
        >Address Information</v-stepper-step
      >
      <v-stepper-content step="2">
        <v-card class="mb-12" flat height="230px">
          <v-form>
            <v-text-field
              v-model.lazy="address.street"
              label="Street Name"
              required
            >
            </v-text-field>
            <v-text-field
              v-model.lazy="address.houseNumber"
              label="House Number"
              required
            >
            </v-text-field>
            <v-text-field
              v-model.lazy="address.zipCode"
              label="Zip Code"
              required
            ></v-text-field>
            <v-text-field
              v-model.lazy="address.city"
              label="City"
              required
            ></v-text-field>
          </v-form>
        </v-card>
        <v-btn color="primary" @click="currentStep = 3"> Continue </v-btn>
        <v-btn text @click="currentStep = 1"> Back </v-btn>
      </v-stepper-content>

      <!-- Stepper, part 3 -->
      <v-stepper-step
        step="3"
        editable
        :complete="this.payment.owner != '' && this.payment.iban != ''"
        >Payment Information</v-stepper-step
      >
      <v-stepper-content step="3">
        <v-card class="mb-12" flat height="90px">
          <v-form>
            <v-text-field
              v-model.lazy="payment.owner"
              label="Account Owner"
              required
            >
            </v-text-field>
            <v-text-field v-model.lazy="payment.iban" label="IBAN" required>
            </v-text-field>
          </v-form>
        </v-card>
        <v-btn
          color="primary"
          @click="submitData()"
          :disabled="!isDataComplete()"
        >
          Continue
        </v-btn>
        <v-btn text @click="currentStep = 2"> Back </v-btn>
      </v-stepper-content>

      <!-- Stepper, part 4 -->
      <v-stepper-step step="4">Finished!</v-stepper-step>
      <v-stepper-content step="4">
        <v-card class="mb-12" height="40px" flat>
          <v-banner v-if="this.error" single-line:outlined="true">
            <v-icon slot="icon" color="warning" size="36">
              mdi-wifi-strength-alert-outline
            </v-icon>
            There was a problem with your request, please try again later!
            (Probably CORS related!)
          </v-banner>
          <v-banner v-else single-line :outlined="true">
            <v-icon slot="icon" color="primary" size="36">mdi-check</v-icon>
            Request saved successfully!
            <template v-slot:actions>
              <v-btn color="primary" text :v-if="paymentDataId">{{
                paymentDataId
              }}</v-btn>
            </template>
          </v-banner>
        </v-card>
        <v-btn v-if="this.error" color="primary" @click="currentStep = 3"
          >Try again</v-btn
        >
      </v-stepper-content>
    </v-stepper>
  </v-app>
</template>

<script>
import axios from "axios";

export default {
  name: "App",

  data: () => ({
    currentStep: 1,
    user: {
      firstName: "",
      familyName: "",
      phoneNumber: "",
    },
    address: {
      street: "",
      houseNumber: "",
      zipCode: "",
      city: "",
    },
    payment: {
      owner: "",
      iban: "",
    },
    error: false,
    paymentDataId: "",
    overlay: true,
  }),

  watch: {
    user: {
      handler: function () {
        localStorage.setItem("userData", JSON.stringify(this.user));
      },
      deep: true,
    },
    address: {
      handler: function () {
        localStorage.setItem("addressData", JSON.stringify(this.address));
      },
      deep: true,
    },
    payment: {
      handler: function () {
        localStorage.setItem("paymentData", JSON.stringify(this.payment));
      },
      deep: true,
    },
  },

  mounted() {
    if (localStorage.getItem("userData")) {
      let data = JSON.parse(localStorage.getItem("userData"));
      this.user.firstName = data.firstName;
      this.user.familyName = data.familyName;
      this.user.phoneNumber = data.phoneNumber;
      this.currentStep = 1;
      if (
        this.user.firstName != "" &&
        this.user.familyName != "" &&
        this.user.phoneNumber != ""
      ) {
        this.currentStep = 2;
      }
    }
    if (localStorage.getItem("addressData")) {
      let data = JSON.parse(localStorage.getItem("addressData"));
      this.address.street = data.street;
      this.address.houseNumber = data.houseNumber;
      this.address.zipCode = data.zipCode;
      this.address.city = data.city;
      if (
        this.address.street != "" &&
        this.address.houseNumber != "" &&
        this.address.zipCode != "" &&
        this.address.city != ""
      ) {
        this.currentStep = 3;
      }
    }
    if (localStorage.getItem("paymentData")) {
      let data = JSON.parse(localStorage.getItem("paymentData"));
      this.payment.owner = data.owner;
      this.payment.iban = data.iban;
    }
    localStorage.clear();
    this.overlay = false;
  },

  methods: {
    isDataComplete: function () {
      let validate = { ...this.user, ...this.address, ...this.payment };
      for (var key in validate) {
        if (validate[key] == "") {
          return false;
        }
      }
      return true;
    },
    submitData: function () {
      this.overlay = true;
      let data = {
        customerId: 1,
        iban: this.payment.iban,
        owner: this.payment.owner,
      };
      let url = "https://wundermobility.herokuapp.com/payment";
      axios({
        method: "POST",
        url: "https://wundermobility.herokuapp.com/payment",
        data: data,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-type": "application/json",
        },
      })
        .then((response) => {
          this.paymentDataId = response.data.paymentCode;
        })
        .catch((err) => {
          this.error = true;
        });
      this.currentStep = 4;
      this.overlay = false;
    },
  },
};
</script>
